@import url('https://fonts.googleapis.com/css2? family= Lexend:wght@900 & display=swap');

/***** Navbar *****/

nav {
    height: 100px;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
    background-color: white;
    text-align: center;
}

.navbar li a {
    color: rgb(0, 77, 110);
}

.navbar li a:hover {
    color:rgb(0, 179, 255);
}

.btn-nav {
    background-color: white;
    color: rgba(218, 224, 230, 0.582);
    border: 2px solid rgba(218, 224, 230, 0.582);
    border-radius: 50px;
    float: right;
}

.btn-nav:hover {
    border: 2px solid;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
}




/***** Login e cadastro *****/

.login {
    box-shadow: 0 2px 30px 0 rgba(218,224,230,.5);
    background-color: white;
    width: 60%;
    display: inline-block;
    margin: 0 18%;

}

.login .btn {
    width: 100%;
    margin: 40px 0;
    background-color: rgb(0, 179, 255);
    color: rgb(255, 255, 255);
}

.login .btn:hover {
    background-color: rgb(0, 77, 110);
    color: white;
}

.login h2 {
    color: rgba(57, 57, 55, 0.851);
    padding-top: 50px;
    text-align: center;
}

.form .row {
    margin: 30px 50px;
}

.acessar-p {
    text-align: center;
    font-size: 20px;
    padding: 23px;
    color: rgb(71, 179, 246);
    text-decoration: none;
    box-shadow: 0 2px 30px 0 rgba(218,224,230,.5);

}
.acessar-n {
    text-align: center;
    font-size: 20px;
    padding: 22px 0;
    color: rgba(90, 86, 86, 0.942);
    text-decoration: none;
    background-color: rgba(126, 126, 126, 0.168);
    box-shadow: 0 2px 30px 0 rgba(218,224,230,.5);

}



/* login */
#login .acessar-p{
    margin-left: 10px;
}

#login .acessar-n{
    width: 47%;
}

.esq {
    text-align: center;
    text-decoration: none;
    margin: 50px 50px;
}

.esq:hover {
    color: rgb(0, 77, 110);
}



/* cadastro */
#cadastro .acessar-n{
    margin-left: 10px;
}

#cadastro .acessar-p{
    width: 47%;
}




/***** Front - página principal ****/

#front {
    background-image: url(../img/fundo_front.jpeg);
    text-align: center;
    padding-top: 120px;
    height: 750px;
}

#front h1 {
    font-family: 'Gabarito', sans-serif;
    color:#071820;
    margin-bottom: 25px;
    font-weight: 700;
}

#front p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #727272;
}

#front #mensagem {
    margin-top: 150px;
    padding-left: 50px;
}

#front .btn {
    color: white;
    background-color:rgb(71, 179, 246);
    height: 50px;
    width: 200px;
    border: 2px solid;
    border-radius: 50px;
    margin-top: 25px;
}

#front .btn:hover {
    background-color:  rgb(0, 77, 110);
}




/***** introducao *****/

#introducao {
    margin-top: 100px;
    margin-bottom: 100px;
}

#introducao .text {
    padding-top: 10%;
    margin-bottom: 30px;
    text-align: center;
}

#introducao .text h2 {
    color:rgb(2, 57, 80);
    font-family: 'Lexend', sans-serif;
    font-weight: 790;
    margin-bottom: 20px;
}

#introducao .text p {
    font-size: 18px;
    color: #318de4;
    font-weight: 500;
}

#introducao #mensagem {
    margin-bottom: 100px;
}

#introducao .col-md-3 {
    padding: 23px;
}

#introducao h3 {
    color: rgb(0, 77, 110);
    margin-bottom: 40px;
}

#introducao .cards p {
    text-align: justify;
}


/***** busca profisisonais *****/

#busca {
    color: #162b74;
    background-color: #cae9f5;
    height: 100%;
    padding: 30px 80px;
    margin-bottom: 100px;
}

#busca .form-select{
    box-shadow: 0 6px 20px 0 rgba(39,53,105,.2);
    width: 85%;
    height: 48px;
    margin-top: 26px;
}

#busca .form-select:hover{
    box-shadow: none;
}

#busca input {
    width: 95%;
    border: none;
    outline: 0;
    padding-top: 5px;
}

#busca i {
    color: rgb(73, 208, 232);
}

#busca h1 {
    font-size: 50px;
    font-weight: 650;
    margin-bottom: 20px;
}

#busca p {
    font-size: 18.5px;
}

#busca #card {
    margin-top: 20px;
}




/***** perguntas frequentes *****/

#perguntas {
    margin-top: 100px;
    margin-bottom: 100px;
}

#perguntas h1 {
    color:rgb(2, 57, 80);
    font-family: 'Lexend', sans-serif;
    font-weight: 790;
    margin-bottom: 50px;
}

#perguntas .card-header {
    background-color: white;
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid  #979996a6;
}

#perguntas button {
    white-space: normal;
    color: rgb(18, 151, 233);
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    padding: 8px 16px;
}


#mensagem .card {
    padding: 20px;
}

#mensagem .card .btn {
    color: white;
    background-color:rgb(71, 179, 246);
    height: 40px;
    margin-top: 15px;
}

#mensagem .card .btn:hover {
    background-color: rgb(0, 77, 110);
}



/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {
    .login{
        width: 90%;
        margin: 0 20px;
    }

    #login .acessar-n{
        width: 50%;
    }
    #login .acessar-p{
        width: 45%;
    }

    #cadastro .acessar-p{
        width: 50%;
    }
    #cadastro .acessar-n{
        width: 45%;
    }

    img {
        width: 43%;
    }

    #front img {
        display: none;
    }

    #front svg {
        display: none;
    }


}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px){
    .login{
        width: 90%;
        margin: 0 20px;
    }

    #login .acessar-n{
        width: 50%;
    }

    #login .acessar-p{
        width: 45%;
    }

    #cadastro .acessar-p{
        width: 50%;
    }

    #cadastro .acessar-n{
        width: 45%;
    }

    img {
        width: 50%;
    }

    #front img {
        display: none;
    }

    #front svg {
        display: none;
    }
}