@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Lexend:wght@900 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap');


:root {
  --bs-btn-color: #086cc4;
  --bs-btn-bg: #086cc4;
  --bs-btn-border-color: #086cc4;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #086cc4;
  --bs-btn-hover-border-color: #086cc4;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #086cc4;
  --bs-btn-active-border-color: #086cc4;
  --bs-btn-active-shadow: inset 0 3px 5px #086cc4;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #086cc4;
  --bs-btn-disabled-border-color: #086cc4;
}


/***** Navbar *****/

nav {
    height: 100px;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
    background-color: white;
    text-align: center;
}

.navbar li a {
    color: rgb(0, 77, 110);
}

.navbar li a:hover {
    color:rgb(0, 179, 255);
}

.btn-nav {
    background-color: white;
    color: rgba(218, 224, 230, 0.582);
    border: 2px solid rgba(218, 224, 230, 0.582);
    border-radius: 50px;
    float: right;
}

.btn-nav:hover {
    border: 2px solid;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
}
/***** Login e cadastro *****/

.login {
    box-shadow: 0 2px 30px 0 rgba(218,224,230,.5);
    background-color: white;
    width: 60%;
    display: inline-block;
    margin: 0 18%;

}

.login .btn {
    width: 100%;
    margin: 40px 0;
    background-color: rgb(0, 179, 255);
    color: rgb(255, 255, 255);
}

.login .btn:hover {
    background-color: rgb(0, 77, 110);
    color: white;
}

.login h2 {
    color: rgba(57, 57, 55, 0.851);
    padding-top: 50px;
    text-align: center;
}

.form .row {
    margin: 30px 50px;
}

.acessar-p {
    text-align: center;
    font-size: 20px;
    padding: 23px;
    color: rgb(71, 179, 246);
    text-decoration: none;
    box-shadow: 0 2px 30px 0 rgba(218,224,230,.5);

}
.acessar-n {
    text-align: center;
    font-size: 20px;
    padding: 22px 0;
    color: rgba(90, 86, 86, 0.942);
    text-decoration: none;
    background-color: rgba(126, 126, 126, 0.168);
    box-shadow: 0 2px 30px 0 rgba(218,224,230,.5);

}



/* login */
#login .acessar-p{
    margin-left: 10px;
}

#login .acessar-n{
    width: 47%;
}

.esq {
    text-align: center;
    text-decoration: none;
    margin: 50px 50px;
}

.esq:hover {
    color: rgb(0, 77, 110);
}
/* cadastro */
#cadastro .acessar-n{
    margin-left: 10px;
}

#cadastro .acessar-p{
    width: 47%;
}


/***** Front - página principal ****/
#front {
  background-image: url(../img/img-calendario_vacinação/capanova.png);
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 120px;
  height: 620px;
}

#front h1 {
    font-family: 'Gabarito', sans-serif;
    color:#ffffff;
    color:#071820;
    color:#ffffff;
    margin-bottom: 25px;
    font-weight: 700;
}

#front p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #727272;
    color: #ffffff;
}

.resumo{
    padding-top: 50rem;
}

.calendario-header {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.calendario-header__descricao {
    margin-left: 4rem;
    margin-right: 4rem;
    background: #eeeeee21;
    border-radius: 40px;
    border: solid 1px #b5b5b5;
    box-shadow: 5px 5px 10px  #3D275F;
    padding: 1em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12157);
}

#front #mensagem {
    margin-top: 150px;
    padding-left: 50px;
}

#front .btn {
    color: white;
    background-color:rgb(71, 179, 246);
    height: 50px;
    width: 200px;
    border: 2px solid;
    border-radius: 50px;
    margin-top: 25px;
}

#front .btn:hover {
    background-color:  rgb(0, 77, 110);
}
/* Menu calendário */

section#menu_calendario{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	#menu-container {
		position: relative;
		margin: 60px auto;
		box-sizing: border-box;

		ul {
			display: flex;
			background: rgb(50, 54, 57);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			padding-left: 30px;
			padding-right: 30px;
			margin: 0;

			li {
				display: flex;
				align-items: center;
				min-height: 48px;
				margin-left: 60px;
				cursor: pointer;
				user-select: none;

				&:first-child {
					margin-left: 0;
				}

				a {
					color: rgb(241, 241, 241);
				}
			}
		}

		#line {
			position: absolute;
			bottom: 0;
			height: 2px;
			background: blue;
			transition: all 150ms ease-in-out;
		}
	}
	
	h1 {
		margin-top: 30px;
		font-weight: 500;
		color: #212121;
	}
}

/* opções da timeline */
#menutimeline {
  padding-top: 2rem;
  align-items: center;
  color: #FFFFFF;
}

.btn_custom { 

color: var(--bs-btn-color);
background-color: var(--bs-btn-bg);
border: 2px solid var(--bs-btn-border-color);
/* Outras propriedades do botão aqui */

&:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  /* Propriedades de hover do botão aqui */
}

&:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.25);
  /* Propriedades de foco do botão aqui */
}

&:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
  box-shadow: var(--bs-btn-active-shadow);
  /* Propriedades de clique do botão aqui */
}

&:disabled {
  color: var(--bs-btn-disabled-color);
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  /* Propriedades de botão desativado aqui */
}
}




#conteudo {
    display: block;
    width: 100%;
    padding: 0;
    clear: both;
}

.centralizar{
    margin-left: 30rem;
}

#menu_linhatempo{
    padding-top: 5rem;
}


/* estrutura de timeline */

/* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #bedbf8;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #b1d8ff;
  border: 5px solid #4dc3f5;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}


  .card {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .titulo_card{
    font-size: 20px;
    color: rgb(36, 130, 189);
  }
  .sub_titulo{
    font-size: 15px;
  }

  .normal{
    font-family: 'Fira Sans', sans-serif;
    font-weight: lighter;
  }

  .destaque{
    font-weight: bold; /* Realce o texto de destaque tornando-o em negrito */
    color: #004ec3;
  }


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


/* Rodapé
-----------------------------*/

footer {
  background: rgb(2, 57, 80);
  padding: 35px;
  position: relative;
  font-family:'Roboto', sans-serif; 
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .7), 0 2px 8px 0 rgba(0, 0, 0, .5), 0 1px 5px 0 rgba(0, 0, 0, .1);
}

footer h4 {
  color: white;
  font-size: 20px;
  margin: 0 20px;
  text-transform: uppercase;
  font-family:'Roboto', sans-serif;
}

footer h4:hover {
  color:#318de4; 
}

footer .navbar-nav i{
  text-align: justify;
}

footer .navbar-nav a{
  color:#d4d4d4; 
  font-weight: 25px;
  font-size: 14px;
  text-decoration: none;
}

footer .navbar-nav a:hover{
  color:#318de4; 
}

footer ul li{
  list-style: none;
}

footer ul li{
  float: right;
  margin: 0 20px;
  padding-top: 10px;
}

footer p span {
  color: #acacac; 
}

.social-media {
  display: inline-block;     
}

.social-media i {
  font-size: 20px;
  width: 35px;
  height: 35px;
  margin: 10px 3px;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
  background-color: rgb(71, 179, 246);
  border-radius: 50%;
  color: white;
}
.social-media i:hover {
  transform: scale(1.2);
}

hr {
  margin: 80px 20px;
}

#politicas {
  margin-top: 90px;
}



@media (max-width: 576px) {
  .card {
      max-width: 100%;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
}