@import url('https://fonts.googleapis.com/css2? family= Lexend:wght@900 & display=swap');

/***** Navbar *****/

nav {
    height: 100px;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
    background-color: white;
    text-align: center;
}

.navbar li a {
    color: rgb(0, 77, 110);
}

.navbar li a:hover {
    color:rgb(0, 179, 255);
}

.btn-nav {
    background-color: white;
    color: rgba(218, 224, 230, 0.582);
    border: 2px solid rgba(218, 224, 230, 0.582);
    border-radius: 50px;
    float: right;
}

.btn-nav:hover {
    border: 2px solid;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
}

/***** Login e cadastro *****/

.login {
    box-shadow: 0 2px 30px 0 rgba(218,224,230,.5);
    background-color: white;
    width: 60%;
    display: inline-block;
    margin: 0 18%;

}

.login .btn {
    width: 100%;
    margin: 40px 0;
    background-color: rgb(0, 179, 255);
    color: rgb(255, 255, 255);
}

.login .btn:hover {
    background-color: rgb(0, 77, 110);
    color: white;
}

.login h2 {
    color: rgba(57, 57, 55, 0.851);
    padding-top: 50px;
    text-align: center;
}

.form .row {
    margin: 30px 50px;
}

.acessar-p {
    text-align: center;
    font-size: 20px;
    padding: 23px;
    color: rgb(71, 179, 246);
    text-decoration: none;
    box-shadow: 0 2px 30px 0 rgba(218,224,230,.5);

}
.acessar-n {
    text-align: center;
    font-size: 20px;
    padding: 22px 0;
    color: rgba(90, 86, 86, 0.942);
    text-decoration: none;
    background-color: rgba(126, 126, 126, 0.168);
    box-shadow: 0 2px 30px 0 rgba(218,224,230,.5);

}



/* login */
#login .acessar-p{
    margin-left: 10px;
}

#login .acessar-n{
    width: 47%;
}

.esq {
    text-align: center;
    text-decoration: none;
    margin: 50px 50px;
}

.esq:hover {
    color: rgb(0, 77, 110);
}

/* cadastro */
#cadastro .acessar-n{
    margin-left: 10px;
}

#cadastro .acessar-p{
    width: 47%;
}


/***** Front - página principal ****/

#front {
    background-image: url(../img/img-calendario_vacinação/capa.png);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    /* height: 750px; */
}

#front h1 {
    font-family: 'Gabarito', sans-serif;
    color:#ffffff;
    margin-bottom: 25px;
    font-weight: 700;
}

#front p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.resumo{
    padding-top: 40rem;
}

.calendario-header {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.calendario-header__descricao {
    margin-left: 5rem;
    margin-right:5rem;
    background: #eeeeee21;
    border-radius: 12rem;
    box-shadow: 5px 5px 10px  #000000;
    padding: 1em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12157);
}

#front #mensagem {
    margin-top: 150px;
    padding-left: 50px;
}

#front .btn {
    color: white;
    background-color:rgb(71, 179, 246);
    height: 50px;
    width: 200px;
    border: 2px solid;
    border-radius: 50px;
    margin-top: 25px;
}

#front .btn:hover {
    background-color:  rgb(0, 77, 110);
}

/* opções da timeline */
#menutimeline{
    padding-top: 2rem;
    align-items: center;
}

#conteudo {
    display: block;
    width: 100%;
    padding: 0;
    clear: both;
}

.centralizar{
    margin-left: 30rem;
}

#menu_linhatempo{
    padding-top: 5rem;
    paddin
}


/* estrutura de timeline */
.main-timeline {
    position: relative;
  }
  
  /* The actual timeline (the vertical ruler) */
  .main-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #939597;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #939597;
    border: 5px solid #f5df4d;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -12px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .main-timeline::after {
      left: 31px;
    }
  
    /* Full-width containers */
    .timeline {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    /* Make sure that all arrows are pointing leftwards */
    .timeline::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
      left: 18px;
    }
  
    .left::before {
      right: auto;
    }
  
    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  .card {
    width: 400px; /* Ajuste o valor conforme necessário */
  }
  

  .titulo_card{
    font-size: 20px;
    color: rgb(36, 130, 189);
  }
  .sub_titulo{
    font-size: 15px;
  }

  .destaque{
    font-weight: bold; /* Realce o texto de destaque tornando-o em negrito */
    color: #004ec3;
  }


/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .centralizar{
    }
 }
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }